body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: black;
  font-family: Arial, sans-serif;
  margin: 0;
}

button {
  height: 50px;
  width: 50px;
  border: none;
  color: white;
  font-size: 25px;
  margin-left: 10px;
}

.calculation {
  font-size: 30px;
  padding: 10px;
  margin: 0;
  padding: 10px;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.number {
  background-color: rgb(48, 48, 48);
  border-radius: 50%;
}

.symbol {
  background-color: rgb(255, 165, 0);
  border-radius: 50%;
}

.bottom-button {
  width: 115px;
  background-color: rgb(255, 0, 0);
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
}

.calculation-window {
  background-color: rgb(165, 235, 238);
  padding: 10px;
  margin-left: 18px;
  text-align: right;
  width: 245px;
  height: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.calculator-body {
  padding-top: 15px;
  width: 300px;
  height: 450px;
  background-color: rgb(159, 159, 159);
  border-radius: 10px;
}

.calculator-body p {
  margin-left: 18px;
}
